@page
@model WebApp.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header">
        About Us
    </div>
    <div class="card-body">
        <h5 class="card-title">What to Know</h5>
        <p class="card-text">
            parajjffddffdsfdjddlkndjkgnfjfjffjnnjngjfgjgjnktgjtknknnkbnjtnbtjbn<br /> bvhvjbhjbbrhbrvbvjrvbvbrrbvrbvbvvbjbvjrr
            <br />jesfyvjyvfsssssssssssssssssssssssssssssssssssssssssyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyysssssssss.
        </p>
        <h5 class="card-title">When it All Started</h5>
        <p class="card-text">
            parajjffddffdsfdjddlkndjkgnfjfjffjnnjngjfgjgjnktgjtknknnkbnjtnbtjbn<br /> bvhvjbhjbbrhbrvbvjrvbvbrrbvrbvbvvbjbvjrr
            <br />jesfyvjyvfsssssssssssssssssssssssssssssssssssssssssyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyysssssssss.
        </p>
        <h5 class="card-title">Goals</h5>
        <p class="card-text">
            parajjffddffdsfdjddlkndjkgnfjfjffjnnjngjfgjgjnktgjtknknnkbnjtnbtjbn<br /> bvhvjbhjbbrhbrvbvjrvbvbrrbvrbvbvvbjbvjrr
            <br />jesfyvjyvfsssssssssssssssssssssssssssssssssssssssssyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyysssssssss.
        </p>
    </div>
</div>