@page
@model WebApp.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<div class="card">
    <div class="card-header">
        Contact Us
    </div>
    <div class="card-body">
    
    
        <h5 class="card-title">@ViewData["Title"] </h5>
        <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-29355a5 elementor-widget elementor-widget-heading" data-id="29355a5" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Operating hours</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-32383f6 elementor-widget elementor-widget-heading" data-id="32383f6" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default"><br><span style="font-size: 16px; letter-spacing: normal; text-transform: none; white-space: normal;">Mon - Fri&nbsp; &nbsp;5am - 9pm</span><br><br><span style="font-size: 16px; letter-spacing: normal; text-transform: none; white-space: normal;">Sat - Sun&nbsp; &nbsp; 6am - 7pm</span></h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-aa7cb65 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="aa7cb65" data-element_type="widget" data-widget_type="icon-list.default">
                    <div class="elementor-widget-container">
                        <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item">
                                <span class="elementor-icon-list-text">Public holidays 6am - 7pm</span>
                            </li>
                            <li class="elementor-icon-list-item">
                                <a href="http://Public%20Holidays%206am%20-%207pm">

                                    <span class="elementor-icon-list-text">Subject to change</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="elementor-element elementor-element-6afa6ea elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="6afa6ea" data-element_type="widget" data-widget_type="icon-list.default">
                    <div class="elementor-widget-container">
                        <ul class="elementor-icon-list-items elementor-inline-items">
                            <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                </span>
                                <span class="elementor-icon-list-text">Tel: 031 123 4567</span>
                            </li>
                            <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                                    <i aria-hidden="true" class="fas fa-envelope"></i>
                                </span>
                                <span class="elementor-icon-list-text">Email: enquiries@construction.com</span>
                            </li>
                            <li class="elementor-icon-list-item elementor-inline-item">
                                <span class="elementor-icon-list-icon">
                                    <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                                </span>
                                <span class="elementor-icon-list-text">Location: 478 Mlaz B Junction Street, Durban 4001</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>