@page
@model PrivacyModel
@{
    ViewData["Title"] = "Construction Site";
}
<h1>@ViewData["Title"]</h1>

<p>Please all the Information on the Site are Updated And Test Are presentation of the Services and communication Of the Company .</p>
