@page
@model WebApp.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h3 class="card-title">@ViewData["Title"] </h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="~/assets/images/construction.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Construction Service 1</h5>
                <p class="card-text">jvdvjvjvjkvdjkkvffjdjkjkvfdkfvkjvfvvfdlittle bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/assets/images/construction1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Construction Service 2</h5>
                <p class="card-text">nsvdububdvudbvdbvuiuvivbuivv ntent is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/assets/images/construction2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Construction Service 3</h5>
                <p class="card-text">jkscajkbcsdjkjkdcsjkcdskjcdjksdjkdsjdkdsjcdjcjcd.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/assets/images/construction.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Construction Service 4</h5>
                <p class="card-text">vdvdbbdvbfjvhbjfvbfhbvbbbbhrhhrhhrrrrr.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/assets/images/construction1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Construction Service 5</h5>
                <p class="card-text">Tvsnsvdjsvdsvnsvnsvnnsvssvnksvkjkvdjvdjvvjjdd</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/assets/images/construction.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Construction Service 6</h5>
                <p class="card-text">abbjksbdkjakbkkdjkdjkdssdsddsdfsfdfdsfdsfnjfdfdjkfdfdjkfdsjkffdfjdkjkfdjkfdfdfdsksd.</p>
            </div>
        </div>
    </div>
</div>